[Unit]
Description=XMRig Miner in tmux
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/ubuntu/monero-node-tools/start_miner.sh
ExecStop=/usr/bin/tmux kill-session -t miner

[Install]
WantedBy=multi-user.target
